<ng-container *ngIf="!isDropdown">
  <ng-container *ngTemplateOutlet="summaryActionBarSecondaryAction"></ng-container>
</ng-container>
<sky-dropdown-item *ngIf="isDropdown" >
  <ng-container *ngTemplateOutlet="summaryActionBarSecondaryAction"></ng-container>
</sky-dropdown-item>

<ng-template
  #summaryActionBarSecondaryAction
>
  <button
    type="button"
    class="sky-btn"
    [attr.role]="isDropdown ? undefined : 'menuitem'"
    [disabled]="disabled"
    [skyThemeClass]="{
      'sky-btn-secondary' : 'default',
      'sky-btn-default': 'modern'
    }"
    (click)="onButtonClicked()"
  >
    <ng-content></ng-content>
  </button>
</ng-template>
